@model CategoryThreads
@{
    ViewData["Title"] = Model.Category.Name;
    ViewData["ReturnUrl"] = "Channels/CategoryThreads";
}

<div class="row">
    <div class="posts col-lg-8 col-md-8">

        <p>
            <a asp-action="Index" asp-controller="Home">Home</a> >
            <a asp-action="ChannelThreads" asp-controller="Channels" asp-route-channel="@Model.Category.Channel.Name">@Model.Category.Channel.Name</a>  >
            @Model.Category.Name
        </p>
        <p>No of Threads: @Model.Category.ThreadCount</p>

        @if (Model.Threads.Count() > 0)
        {
            <p>
                Click <a asp-action="CreateThread" asp-controller="Threads" asp-route-channelId="@Model.Category.Channel.Id" asp-route-categoryId="@Model.Category.Id">
                    here
                </a> to add a post in this category
            </p>

            <partial name="_ThreadsList" model="Model.Threads" />
        }
        else
        {
            <p>
                There are no posts to display.
                Click <a asp-action="CreateThread" asp-controller="Threads" asp-route-channelId="@Model.Category.Channel.Id" asp-route-categoryId="@Model.Category.Id">
                    here
                </a> to add a post in this category
            </p>
        }
    </div>

    <div class="col-lg-4 col-md-4">

        <!--  most comments-->
        <partial name="_ThreadsMostComment" model="Model.Threads" />

        <!-- user posts-->
        <partial name="_ThreadsUser" model="Model.Threads" view-data="ViewData" />

        @await Component.InvokeAsync("ThreadsFollowing")

    </div>
</div>