@model ThreadVM
@inject LoadStaticContent _staticData;
@{
    ViewData["Title"] = Model.Title;
}

    <div class="row">
       
        <div class="topics">
            <div class="topics__heading">
                <h2 class="topics__heading-title">@Model.Title</h2>
                <div class="topics__heading-info">
                    <a asp-action="ChannelThreads" asp-controller="Channels"  asp-route-channel="@Model.Category.Channel.Name" class="category"><i class="bg-3ebafa"></i> @Model.Category.Channel.Name</a>
                    
                    <a asp-action="CategoryThreads" asp-controller="Channels" asp-route-category="@Model.Category.Name" class="category"><i class="bg-3ebafa"></i> @Model.Category.Name</a>
                    <div class="tags">
                      
                    </div>
                </div>
            </div>
            <div class="topics__body">
                <div class="topics__content">
                    <!-- post -->
                    <div class="topic">
                        <div class="topic__head">
                            <div class="topic__avatar">
                                <a href="#" class="avatar"><img src="~/fonts/icons/avatars/B.svg" alt="avatar"></a>
                            </div>
                            <div class="topic__caption">
                                <div class="topic__name">
                                    <a href="#">Benjamin Caesar</a>
                                </div>
                                <div class="topic__date"><i class="icon-Watch_Later"></i>@Model.DatePosted.ToLongDateString()</div>
                            </div>
                        </div>
                        <div class="topic__content">
                            <div class="topic__text">
                                @Html.Raw(Model.Content)
                            </div>
                            <div class="topic__footer">
                                <div class="topic__footer-likes">
                                    <div>
                                        <a href="#"><i class="icon-Upvote"></i></a>
                                        <span>201</span>
                                    </div>
                                    <div>
                                        <a href="#"><i class="icon-Downvote"></i></a>
                                        <span>08</span>
                                    </div>
                                    <div>
                                        <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                        <span>39</span>
                                    </div>
                                </div>
                                <div class="topic__footer-share">
                                    <div data-visible="desktop">

                                        <a href="#"><i class="icon-Share_Topic"></i></a>
                                        <a href="#"><i class="icon-Flag_Topic"></i></a>
                                        <a href="#"><i class="icon-Bookmark"></i></a>
                                    </div>
                                    <div data-visible="mobile">
                                        <a href="#"><i class="icon-More_Options"></i></a>
                                    </div>
                                    <a href="#"><i class="icon-Reply_Fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- post details -->
                    <div class="topic">
                        <div class="topic__content">
                            <div class="topic__info">
                                <div class="topic__info-section">
                                    <div>
                                        <span class="topic__info-title">Created</span>
                                        <div class="topic__info-avatar">
                                            <a href="#" class="avatar"><img src="~/fonts/icons/avatars/B.svg" alt="avatar"></a>
                                            <span>13d</span>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="topic__info-title">Last reply</span>
                                        <div class="topic__info-avatar">
                                            <a href="#" class="avatar"><img src="~/fonts/icons/avatars/A.svg" alt="avatar"></a>
                                            <span>4h</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="topic__info-section">
                                    <div>
                                        <span class="topic__info-title">Replies</span>
                                        <div class="topic__info-count">@Model.RepliesCount</div>
                                    </div>
                                    <div>
                                        <span class="topic__info-title">Views</span>
                                        <div class="topic__info-count">205</div>
                                    </div>
                                    <div>
                                        <span class="topic__info-title">Followers</span>
                                        <div class="topic__info-count">6</div>
                                    </div>
                                    <div>
                                        <span class="topic__info-title">Likes</span>
                                        <div class="topic__info-count">315</div>
                                    </div>
                                </div>
                                <a href="#" class="topic__info-more"><i class="icon-Arrow_Down"></i></a>
                            </div>

                            <div class="topic__title">
                                @*   <p>There are <span>81 replies</span> with an estimated read time of <span>11 minutes.</span></p>*@
                            </div>
                            <div class="topic__btns">

                            </div>
                        </div>
                    </div>

                    <!-- replies -->
                    @if (Model.RepliesCount > 0)
                    {
                        @foreach (var item in Model.Replies)
                        {
                            <div class="topic">
                                <div class="topic__head">
                                    <div class="topic__avatar">
                                        <a href="#" class="avatar"><img src="@item.AuthorImageUrl" alt="user photo"></a>
                                    </div>
                                    <div class="topic__caption">
                                        <div class="topic__name">
                                            <a href="#">@item.AuthorName</a>
                                        </div>
                                        <div class="topic__date">
                                            <i class="icon-Watch_Later"></i>@item.DatePosted.ToLongDateString()
                                        </div>
                                    </div>
                                </div>
                                <div class="topic__content">
                                    <div class="topic__text">
                                        <p>@Html.Raw(item.Content)</p>
                                    </div>
                                    <div class="topic__footer">
                                        <div class="topic__footer-likes">
                                            <div>
                                                <a href="#"><i class="icon-Upvote"></i></a>
                                                <span>137</span>
                                            </div>
                                            <div>
                                                <a href="#"><i class="icon-Downvote"></i></a>
                                                <span>02</span>
                                            </div>
                                            <div>
                                                <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                                <span>46</span>
                                            </div>
                                        </div>
                                        <div class="topic__footer-share">
                                            <div data-visible="desktop">
                                                <a href="#"><i class="icon-Share_Topic"></i></a>
                                                <a href="#"><i class="icon-Flag_Topic"></i></a>
                                                <a href="#"><i class="icon-Bookmark"></i></a>
                                            </div>
                                            <div data-visible="mobile">
                                                <a href="#"><i class="icon-More_Options"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    }
                    else
                    {
                        <div class="topic">
                            <p>Be the first to reply to this post</p>
                        </div>
                    }

                    <div class="topic topic--selected">
                        <div class="topic__head">
                            <div class="topic__avatar">
                                <a href="#" class="avatar"><img src="~/fonts/icons/avatars/C.svg" alt="avatar"></a>
                            </div>
                            <div class="topic__caption">
                                <div class="topic__name">
                                    <a href="#">Callis</a>
                                </div>
                            </div>
                        </div>
                        <div class="topic__content">
                            <div class="topic__text">
                                <p>This post has been hidden by a moderator. Received too much downvotes.</p>
                            </div>
                            <div class="topic__footer">
                                <div class="topic__footer-likes">
                                    <div>
                                        <a href="#"><i class="icon-Downvote"></i></a>
                                        <span>617</span>
                                    </div>
                                </div>
                                <div class="topic__footer-show">
                                    <a href="#" class="btn">Show me</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
               
            </div>
            <div class="topics__title"><i class="icon-Watch_Later"></i>This topic will close 6 months after the last reply.</div>
            <div class="topics__control">
                <a href="#" class="btn"><i class="icon-Bookmark"></i>Bookmark</a>
                <a href="#" class="btn"><i class="icon-Share_Topic"></i>Share</a>
                <a href="#" class="btn"><i class="icon-Flag_Topic"></i>Flag</a>
                <a href="#" class="btn"><i class="icon-Track"></i>Follow</a>
                <a href="#" class="btn btn--type-02" data-visible="desktop"><i class="icon-Reply_Fill"></i>Reply</a>
            </div>
         
        </div>
 
    </div>
